html{
	font-family: Open Sans, Arial;
	background-color: white;
}
body{
	margin:0;
	padding:0;
}

/*Menu de navifatin*/

header{
	position: sticky;
	top:0px;
	background-color: white;
	box-shadow: 4px 4px 10px #6e6e6e;
	z-index: 2;
	width: 100%;
}
nav{
	display: inline-block;
}
nav ul{
	margin-left: 35%;
	width: 100%;
}
nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	font-size: 1.2em;
	text-decoration: none;
	color: #004A7F;
	font-weight: 600;
	display: block;
	overflow: hidden;
	padding: 10px 30px;

}
#login{
	background-color: gray;
	width: 10%;
	position: absolute;
	top:3%;
	right:5%;
	color: white;
	border-color: blue;
	font-family: Montserrat;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.photo_background{
	width: 	100%;
	position: absolute;
}

/*page accueil*/
#background_accueil a{
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	background-color: #004A7F;
	opacity: 0.95;
	padding: 2% 3% 3% 3%;
	border-radius: 10% 30% 50% 70%;
	font-weight: bold;

}

/*page connexion*/



/*Les formulaires*/

legend{
	font-family: Montserrat;
	font-weight: 600;
}

.form_connexion{
	position: absolute;
	top:30%;
	left:30%;
	background-color: white;
}

.form_reservation{
	position: absolute;
	top:25%;
	left:10%;
	width: 40%;
	background-color: white;
}

